{% extends "base.html.twig" %}
{% block title %} CONSULTA CLIENTES {% endblock %}
{% block titulo %}
    <div id='dtitulo' class="container"> CONSULTA CLIENTES
        <a href="{{ path('add_cliente') }}"
           class="btn btn-success">
            <span class="glyphicon glyphicon-new-window"></span> Nuevo Cliente</a>
        <hr/>
    </div>
{% endblock %}

{% block contenido %}
    <script>

    </script>

    <div class="container">
        <table id="tablaClientes" class="tabla table table-striped table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Alias</th>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for registro in clientes %}
                <tr>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.alias }}</td>
                    <td>{{ registro.nombre }}</td>
                    <td>{{ registro.apellido1 }}</td>
                    <td>{{ registro.apellido2 }}</td>
                    <td>
                        <a data-toggle="tooltip" title=" Editar Cliente"
                           href="{{ path("edit_cliente",{"cliente_id":registro.id}) }}"
                           target="_blank">
                            <span class="glyphicon glyphicon-edit"></span> </a>
                        {% if not registro.tratamientos.empty %}
                            <a data-toggle="tooltip" title=" Consultar Tratamientos"
                               href="{{ path("query_tratamientos",{"cliente_id":registro.id}) }}"
                               target="_blank">
                                <span class="glyphicon glyphicon-search"></span> </a>
                        {% endif %}
                        {% if not registro.facturas.empty %}
                            <a data-toggle="tooltip" title=" Consultar Facturas"
                               href="{{ path("query_facturas_cliente",{"cliente_id":registro.id}) }}"
                               target="_blank">
                                <span class="glyphicon glyphicon-euro"></span> </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
