{% extends "base.html.twig" %}
{% block title %} CONSULTA TRATAMIENTOS {% endblock %}
{% block titulo %}
    <div id='dtitulo' class="container"> CONSULTA TRATAMIENTOS {{ cliente.alias }}
        <a href="#"
           class="btn btn-success">
            <span class="glyphicon glyphicon-new-window"></span> Nuevo Tratamiento</a>
        <hr/>
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
            <hr/>
        {% endfor %}
   </div>

    <div class="container">
        <table id="tablaTratamientos" class="tabla table table-striped table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Fecha</th>
                <th>Motivo Consulta</th>
                <th>Tratamiento </th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for registro in tratamientos %}
                <tr>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.fechaTratamiento|date ('d-m-Y') }}</td>
                    <td>{{ registro.motivoConsulta }}</td>
                    <td>{{ registro.descripcion }}</td>
                    <td>
                        <a href="{{ path("edit_tratamiento",{"tratamiento_id":registro.id}) }}">
                            <span class="glyphicon glyphicon-search"></span> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
