{% extends "base.html.twig" %}
{% block title %} TIPOS DE TRATAMIENTO {% endblock %}
{% block titulo %}
    <div id='dtitulo' class="container"> CONSULTA TIPOS DE TRATAMIENTOS
        {#        <a href="#"#}
        {#           class="btn btn-success">#}
        {#            <span class="glyphicon glyphicon-new-window"></span> Nuevo Tratamiento</a>#}
        {#        <hr/>#}
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('info') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get('error') %}
            <div class="alert alert-danger"> {{ message }} </div>
        {% endfor %}
    </div>

    <div class="container">
        <table id="tabla" class="tabla table table-striped table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Descripción</th>
                <th>Importe Unitario (Sin IVA)</th>
                <th>Tipo de IVA</th>
                <th>Cuota IVA</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for registro in tiposTratamiento %}
                <tr>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.descripcion}}</td>
                    <td>{{ registro.importe | number_format(2,',','.') }} € </td>
                    <td>{{ registro.tipoIva.porcentaje }} % </td>
                    <td>{{ registro.cuotaIva |number_format(2,',','.') }} € </td>
                    <td>{{ registro.importeTotal |number_format(2,',','.') }} € </td>
                    <td>
                        <a data-toggle="tooltip" title=" Editar " href="{{ path("edit_tipoTratamiento",{"tipoTratamiento_id":registro.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
